body {
    margin: 0;
    padding: 0;
    background-image: url('../images/fundo.jpg');
    background-size: cover;
    background-position: center;
    font-family: Montserrat;
}
.container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.box{
    margin-top: 20px;
    width: auto;
    height: auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
}
form {
    display: flex;
    flex-direction: column;
    margin:0;
    padding: 0;
}
input {
    font-size: 40px;
    padding: 10px;
    font-weight: lighter;
    border: 0;
    border-bottom: 3px solid rgb(78, 41, 17);
    outline: 0;
}
input:focus {
    border-bottom: 3px solid rgb(255, 187, 0);
}
input::-webkit-input-placeholder, .input::-moz-placeholder, .input:-ms-input-placeholder, .input:-o-input-placeholder {
    font-weight: 100;
}